{% extends 'base.html' %}
{% load static %}


{% block content %}

    <main>

        <section class="container py-5">
            <h3 class="my-3 font-weight-bold">شرایط و قوانین استفاده از سرویس‌ها و خدمات تیپ هاب</h3>
            <p class="text-justify lineh40">
            <ul class="lineh40 aboutus-goals">
                <li>
                    مشتری یا کاربر به شخصی گفته می‌شود که با اطلاعات کاربری خود که در فرم ثبت‌نام درج کرده است، به ثبت
                    سفارش یا هرگونه استفاده از خدمات تیپ هاب اقدام کند.
                </li>
                <li>
                    آدرس ایمیل و تلفن‌هایی که کاربر در پروفایل خود ثبت می‌کند، تنها آدرس ایمیل و تلفن‌های رسمی و مورد
                    تایید او است و تمام مکاتبات و پاسخ‌های ما از طریق آنها صورت می‌گیرد.
                </li>
                <li>
                    جهت اطلاع‌رسانی رویدادها، خدمات و سرویس‌های ویژه یا پروموشن‌ها، امکان دارد مجموعه تیپ هاب برای اعضای
                    وب سایت ایمیل یا پیامک ارسال نماید. در صورتی که کاربران تمایل به دریافت اینگونه ایمیل و پیامک‌ها
                    نداشته باشند، می‌توانند عضویت دریافت خبر مجموعه تیپ هاب را در پروفایل خود لغو کنند.
                </li>
                <li>
                    مجموعه تیپ هاب به اطلاعات خصوصی اشخاصى که از خدمات سایت استفاده احترام گذاشته و از آن محافظت می کند
                </li>
                <li>
                    کاربران مجاز به استفاده از لیست محصولات، مشخصات فنی و هر گونه استفاده از مشتقات
                    مجموعه تیپ هاب و یا هر یک از خدمات و یا مطالب، دانلود یا کپی کردن اطلاعات با مقاصد تجاری،

                    نیستند و کلیه این حقوق برای مجموعه تیپ هاب محفوظ است.
                </li>
            </ul>

            </p>
        </section>


    </main>

{% endblock %}