{% extends 'base.html' %}
{% load static %}



{% block title %}
    استاتید تیپ هاب
{% endblock %}



{% block content %}
    <main>

        <section class="container py-5">
            <h3 class="my-4 text-center title-section">مدرسین تیپ هاب </h3>

            <div class="row">
                <!-- item -->
                {% for teacher in object_list %}
                    <div class="col-lg-4 col-md-6 my-2">
                        <div class="teachers-item custom-bg p-2 ">
                            <div class="d-flex align-items-center pb-5 border-bottom">
                                {% if teacher.image %}
                                    <img src="{{ teacher.image.url }}" class="img-fluid mt-4" alt="">
                                    {% else %}
                                     <img src="{% static 'image/User_Default.jpg' %}" class="img-fluid mt-4" alt="">
                                {% endif %}
                                <div class="px-2 position-relative w-100 ">
                                    <p class="font-weight-bold">{{ teacher.fullname }}</p>
                                    <p class="teacher-email position-absolute pt-2">{{ teacher.email }}</p>
                                </div>
                            </div>
                            <div class="teacher-pro">
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-play-circle pl-2"></i>
                                    <div class="font14">ویدیو ها</div>
                                </div>
                                <div class="font14">{{ teacher.videos.all.count }}</div>
                            </div>
                            <div class="teacher-pro">
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-users pl-2"></i>
                                    <div class="font14"> دنبال کننده</div>
                                </div>
                                <div class="font14">5</div>
                            </div>
                            <div class=" d-flex align-items-center justify-content-center p-2">
                                <a href="{% url 'info:teacher' teacher.pk %}" class="btn w-75 custom-btn"> مشاهده پروفایل</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- end item -->
            </div>


        </section>


    </main>
{% endblock %}