{% extends 'base.html' %}
{% load static %}


{% block title %}
    پروفایل {{ object.fullname }}
{% endblock %}


{% block content %}
    <main>

        <section class="container py-5">
            <div class="d-flex align-items-center my-3 teacher-profile w-100">
                {% if object.image %}
                    <img src="{{ object.image.url }}" class="img-fluid" alt="">
                {% else %}
                    <img src="{% static 'image/User_Default.jpg' %}" class="img-fluid" alt="">
                {% endif %}
                <div class="mr-2">
                    <h4>{{ object.fullname }}</h4>
                    <p class="">{{ object.email }}</p>
                </div>
            </div>

            <ul class="d-flex align-items-center justify-content-between p-3 my-5 custom-bg nav-teacher">
                <li>صفحه اصلی</li>
                <li>پلی لیست</li>
                <li>درباره مدرس</li>
            </ul>


            <section class=" teacher-section active">
                <h2 class="title-section mb-3">آموزش ها</h2>


                <div class="row">
                    <!-- item -->
                    {% for video in object.videos.all %}
                        <div class="col-md-6 col-lg-4 my-2">
                            <div class="custom-bg">
                                <div class="video-card">
                                    <a href="{{ video.get_absolute_url }}" class="position-relative d-block ">
                                        <img src="{{ video.video_cover.url }}" alt="" class="img-fluid w-100 h-100">
                                        <div class="video-play-btn">
                                            <i class="fa fa-play"></i>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between video-category-time">
                                            <h6 class="">{{ video.category.first }}</h6>
                                            <span class="vid-time">{{ video.time }}</span>
                                        </div>
                                        <div class="video-card-details">
                                            <div>
                                                <span>{{ video.viwes.count }}</span>
                                                <i class="fa fa-eye"></i>
                                            </div>
                                            <div>
                                                <span>{{ video.likes.all.count }}</span>
                                                <i class="fa fa-heart"></i>
                                            </div>
                                            <div>
                                                <span>{{ video.comments.all.count }}</span>
                                                <i class="fa fa-comment"></i>
                                            </div>
                                        </div>
                                        <div class="article-overlay"></div>
                                    </a>

                                </div>

                                <a href="{{ video.get_absolute_url }}">
                                    <h5 class="video-card-title m-2">{{ video.title }}</h5>
                                </a>

                                <div class=" my-3 pb-3 mx-2 video-card-intro">
                                    <div class="">
                                        <i class="fa fa-user ml-1 "></i>
                                        <span>{{ video.publisher.fullname }}</span>
                                    </div>
                                    <div align="left">
                                        <span class="font14 text-success">
                                            رایگان
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </section>

            <section class="teacher-section">
                <!-- video-slider -->

                <div class="my-3">
                    <h2 class="title-section mb-3">ویدیوها</h2>
                    <div class="mb-5 ">
                        <div id="video-slider" class="owl-carousel owl-theme p-0 video-slider">
                            <!-- item -->
                            <div class="">
                                <div class="custom-bg">
                                    <div class="video-card">
                                        <a href="video-detail.html" class="position-relative d-block ">
                                            <img src="assets/image/p3.png" alt=""
                                                 class="img-fluid w-100 h-100">
                                            <div class="video-play-btn">
                                                <i class="fa fa-play"></i>
                                            </div>
                                            <div
                                                    class="d-flex align-items-center justify-content-between video-category-time">
                                                <h6 class="">موفقیت</h6>
                                                <span class="vid-time">5:25</span>
                                                <span class="discount">10%</span>
                                            </div>
                                            <div class="video-card-details">
                                                <div>
                                                    <span>22</span>
                                                    <i class="fa fa-eye"></i>
                                                </div>
                                                <div>
                                                    <span>22</span>
                                                    <i class="fa fa-heart"></i>
                                                </div>
                                                <div>
                                                    <span>22</span>
                                                    <i class="fa fa-comment"></i>
                                                </div>
                                            </div>
                                            <div class="article-overlay"></div>
                                        </a>

                                    </div>
                                    <a href="video-detail.html">
                                        <h5 class="video-card-title m-2"> تازه ترین ویدیو ها تازه ترین
                                            ویدیو ها تازه ترین ویدیو
                                            ها تازه ترین ویدیو هاتازه
                                            ترین ویدیو هاتازه ترین ویدیو هاتازه ترین ویدیو ها</h5>
                                    </a>
                                    <div class=" my-3 pb-3 mx-2 video-card-intro">
                                        <div class="">
                                            <i class="fa fa-user  ml-1 "></i>
                                            <span>امیرحسین امیری</span>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <s class="font14">
                                                10000 تومان
                                            </s>
                                            <span class="font14 text-danger">
                                                5000 تومان
                                            </span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end item -->
                            <!-- item -->
                            <div class="">
                                <div class="custom-bg">
                                    <div class="video-card">
                                        <a href="video-detail.html" class="position-relative d-block ">
                                            <img src="assets/image/p3.png" alt=""
                                                 class="img-fluid w-100 h-100">
                                            <div class="video-play-btn">
                                                <i class="fa fa-play"></i>
                                            </div>
                                            <div
                                                    class="d-flex align-items-center justify-content-between video-category-time">
                                                <h6 class="">موفقیت</h6>
                                                <span class="vid-time">5:25</span>
                                                <span class="discount">10%</span>
                                            </div>
                                            <div class="video-card-details">
                                                <div>
                                                    <span>22</span>
                                                    <i class="fa fa-eye"></i>
                                                </div>
                                                <div>
                                                    <span>22</span>
                                                    <i class="fa fa-heart"></i>
                                                </div>
                                                <div>
                                                    <span>22</span>
                                                    <i class="fa fa-comment"></i>
                                                </div>
                                            </div>
                                            <div class="article-overlay"></div>
                                        </a>

                                    </div>
                                    <a href="video-detail.html">
                                        <h5 class="video-card-title m-2"> تازه ترین ویدیو ها تازه ترین
                                            ویدیو ها تازه ترین ویدیو
                                            ها تازه ترین ویدیو هاتازه
                                            ترین ویدیو هاتازه ترین ویدیو هاتازه ترین ویدیو ها</h5>
                                    </a>
                                    <div class=" my-3 pb-3 mx-2 video-card-intro">
                                        <div class="">
                                            <i class="fa fa-user  ml-1 "></i>
                                            <span>امیرحسین امیری</span>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <s class="font14">
                                                10000 تومان
                                            </s>
                                            <span class="font14 text-danger">
                                                5000 تومان
                                            </span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end item -->
                        </div>
                    </div>
                </div>
                <!-- end video-slider -->
            </section>


            <section class="teacher-section p-3">

                <div class="row">
                    <!-- item -->
                    <div class="col-md-6 my-2">
                        <div class="teacher-item p-2 custom-bg h-100">
                            <div class="d-flex align-items-center justify-content-between my-2">
                                <div class="d-flex align-items-center color6464">
                                    <i class="fa fa-play-circle pl-2"></i>
                                    <div class="font14">دوره ها</div>
                                </div>
                                <div>5</div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between my-2">
                                <div class="d-flex align-items-center">
                                    <div class="font14">تاریخ عضویت</div>
                                </div>
                                <div>چهارشنبه 27 اسفند 1399</div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between my-2">
                                <div class="d-flex align-items-center color6464">
                                    <i class="fa fa-users pl-2"></i>
                                    <div class="font14"> دنبال کننده</div>
                                </div>
                                <div>5</div>
                            </div>
                        </div>
                    </div>
                    <!-- end item -->
                    <!-- item -->
                    <div class="col-md-6 my-2">
                        <div class="custom-bg  p-3 h-100">
                            <h6>امیرحسین امیری در شبکه های اجتماعی:</h6>
                            <div class="d-flex align-items-center justify-content-between">
                                <a href="#"><i class="fa fa-instagram teacher-social-media"></i>
                                </a>
                                <a href="#"><i class="fa fa-linkedin teacher-social-media"></i>
                                </a>
                                <a href="#"><i class="fa fa-telegram teacher-social-media"></i>
                                </a>
                                <a href="#"><i class="fa fa-whatsapp teacher-social-media"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end item -->
                </div>

                <div class="custom-bg my-2 p-3">
                    <h6 class="mb-2">بیوگرافی امیرحسین امیری</h6>
                    <p class="font14 color78">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                        و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه
                        روزنامه و مجله در ستون و سطرآنچنان که لازم است،
                    </p>
                </div>

            </section>


        </section>


    </main>
{% endblock %}


<script>
    //
    const navTeacherItems = document.querySelector('.nav-teacher').children
    const teacherSection = document.querySelectorAll('.teacher-section')
    for (let i = 0; i < navTeacherItems.length; i++) {
        navTeacherItems[i].addEventListener('click', () => {
            teacherSection.forEach((item) => {
                item.classList.remove('active')
            })
            teacherSection[i].classList.add('active')
        })
    }

    // video-slider
    $(".video-slider").owlCarousel({
        // nav : true, // Show next and prev buttons
        loop: true,
        margin: 15,
        smartSpeed: 1500,
        smartSpeed: 1500,
        rtl: true,
        autoplay: true,
        dots: false,
        responsive: {
            0: {
                items: 1,
            },
            440: {
                items: 1.8
            },
            768: {
                items: 2.3
            },
            992: {
                items: 2.8
            },
            1200: {
                items: 3,
            },

        }
    });
</script>
