{% extends "base.html" %}
{% load static %}

{% block title %}
    چرا تیپ‌هاب
{% endblock %}

{% block content %}
    <main>

        <section class="pb-5">
            <div class="why-tiphub-header">
                <img src="{% static "image/m10.webp" %}" alt="" class="img-fluid w-100 h-50">
                <div class="container-fluid">
                    <h4 class="title-section why-tiphub-title">چرا تیپ هاب</h4>
                    <p class="why-tiphub-des">تیپ هاب یعنی در سریع ترین زمان ممکن, بهترین نکات را یاد بگیر</p>
                </div>
            </div>

            <div class="container mt-5">
                <p class="text-justify lineh40">

                    تیپ هاب :
                <ul class="lineh40 aboutus-goals">
                    <li>
                        ساده ترین راه یادگیری نکات برنامه نویسی
                    </li>
                    <li>
                        در سریع ترین زمان ممکن، به جواب سوالات خود برسن.
                    </li>
                    <li>
                        ارائه آموزش های مفید و کاربردی
                    </li>
                    <li>
                        آشنایی با باگ ها و خطاهایی که برنامه نویسان قبلا با آن‌ها روبرو شده اند و آنها را حل کرده ان
                    </li>
                    <li>
                        آشنایی با مفاهیم مختلف در کمترین زمان ممکن
                    </li>
                </ul>

                </p>
            </div>


        </section>


    </main>
{% endblock %}

