{% extends 'base.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}
    <main>
        <section class="py-5 mb-5 mt-5">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <alert class="alert alert-success">
                        <h3 class="title-section"> گذرواژه تان با موفقیت تغییر کرد لطفا با گذرواژه جدید مجدد وارد سایت شوید </h3>
                    </alert>
                </div>
                <div>
                    <a class="btn btn-primary" href="{% url 'account:sign_in' %}"> رفتن به صفحه ورود </a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}