{% extends 'base.html' %}
{% load static %}

{% block title %}
    بازیابی گذرواژه
{% endblock %}

{% block content %}
    <main>
        <section class="py-5 mb-5 mt-5">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <alert class="alert alert-primary">
                        <h2 class="title-section"> ایمیلی حاوی یک لینک جهت تغییر گذرواژه تان ارسال شد </h2>
                    </alert>
                </div>
            </div>
        </section>
    </main>
{% endblock %}