{% extends 'base3.html' %}
{% load static %}

{% block title %}

    گذرواژه جدید

{% endblock %}

{% block content %}
    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-7 col-lg-5">
                        <div class="custom-bg p-2">


                            {% for field in form %}
                                {% if field.errors %}
                                    <div align="center">
                                        <div class="alert alert-danger">{{ field.errors }}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}


                            <form class="" method="post">
                                {% csrf_token %}

                                {% for field in form %}
                                    <div class="field">
                                        <i class="fa fa-lock"> {{ field.label_tag }}  </i>
                                        {{ field }}
                                    </div>
                                {% endfor %}

                                <div class="my-3">
                                    <button class="btn custom-btn w-100">تغییر گذرواژه</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


{% endblock %}
