{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'components/bootstrap/bootstrap-rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'components/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <script src="https://www.google.com/recaptcha/api.js?hl=fa"></script>

    <title>{% block title %} {% endblock %}</title>

</head>

<body>

<!-- top-header -->
<div class="shadow position-fixed w-100 h-100 d-md-none d-lg-none"></div>
<!-- top-header -->
<header class="position-relative">
    <div class="main-header position-relative">

        <div class="nav-header-box mob1 d-md-flex d-lg-flex align-items-center justify-content-between">

            <div class="d-flex flex-column flex-md-row align-items-center pr-md-4">
                <div class="logo d-flex justify-content-center align-items-center ml-3">
                    <a href="{% url 'home:home' %}"><img src="{% static 'image/logo.png' %}" class="logo-img img-fluid"
                                                         alt=""/></a>
                </div>
                <div class="nav-search-btn">
                    <form action="{% url 'video:search' %}">

                        <input name="q" type="search" placeholder="جستجو" value="{{ request.GET.q }}" required>

                        <button type="submit"><i class="fa fa-search"></i></button>

                    </form>
                </div>

            </div>
            <div class="d-block d-md-flex align-items-center pl-md-4">
                <div class="dropdown notification-box">

                    <div class="position-relative d-none d-md-block " type="button" id="dropdownMenuButton"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'image/notification2.png' %}" class="notification-img" alt="">
                    </div>


                    {% if request.user.is_authenticated %}
                        <div class="badge h-75 w-auto">{{ request.user.notifications.all.count }}</div>
                        <div class="dropdown-menu notification-menu-items custom-bg"
                             aria-labelledby="dropdownMenuButton">

                            {% for i in request.user.message.all|slice:":2" %}
                                <a onclick="Del_Admin_Notif({{ i.id }})" class="border-bottom"
                                   href="{{ i.link }}">{{ i.message }}
                                    <div align="center" class="small">{{ i.get_date }}</div>
                                </a>
                            {% endfor %}

                            {% for i in request.user.notifications.all|slice:":2" %}
                                <a onclick="Del_Notif({{ i.id }})" class="border-bottom"
                                   href="{{ i.link }}">{{ i.message }}
                                    <div align="center" class="small">{{ i.get_date }}</div>
                                </a>
                            {% endfor %}

                        </div>
                    {% endif %}

                </div>
                {# Change UI  #}
                {% if request.resolver_match.url_name == 'home' %}

                    <div class="header-login d-none d-md-block">
                        <div class="notification-box dropdown">
                            <a href="" class="btn login-btn" type="button" id="dropdownMenuButton"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{% static 'image/User_Default.jpg' %}" alt="">
                            </a>
                            <div class="dropdown-menu account-menu-items custom-bg"
                                 aria-labelledby="dropdownMenuButton">
                                {% if request.user.is_authenticated %}
                                    <a class="" href="{% url 'account:user_panel' %}"> پروفایل</a>
                                    <a class="" href="{% url 'video:favorites' %}">علاقه مندی ها</a>
                                    <hr>
                                    <a class="" href="{% url 'account:logout' %}">خروج از حساب</a>
                                {% else %}
                                    <a class="" href="{% url 'account:sign_in' %}"> <i class=" fa fa-account"></i> ورود
                                    </a>
                                    <a class="" href="{% url 'account:sign_up' %}"> ثبت نام</a>
                                {% endif %}

                            </div>
                        </div>
                    </div>

                {% else %}

                    <div class="header-account mx-3 d-none d-md-block">
                        <div class="notification-box dropdown">
                            <a href="" class="btn account-btn" type="button" id="dropdownMenuButton"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="prepend-icon ml-1">
                                    <i class="fa fa-user-circle"></i>
                                </span> <span> حساب کاربری </span>
                            </a>
                            <div class="dropdown-menu account-menu-items custom-bg"
                                 aria-labelledby="dropdownMenuButton">

                                <a class="" href="{% url 'home:home' %}">صفحه اصلی</a>

                                {% if request.user.is_authenticated %}
                                    <a class="" href="{% url 'account:user_panel' %}"> پروفایل </a>
                                    <a class="" href="{% url 'video:favorites' %}">علاقه مندی ها</a>
                                    <hr>
                                    <a class="" href="{% url 'account:logout' %}"> خروج از حساب </a>
                                {% else %}
                                    <a class="" href="{% url 'account:sign_in' %}"> <i class=" fa fa-account"></i> ورود
                                    </a>
                                    <a class="" href="{% url 'account:sign_up' %}"> ثبت نام </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                {% endif %}

            </div>

            <nav class="nav-menu p-0 m-0 d-flex d-sm-flex d-md-none d-lg-none">
                {% for cat in categories.all %}

                    <li id="" class="mx-3"><a class="nav-menu-item-mob"> {{ cat.title }}
                        <i class="fa fa-chevron-left chev-icon pr-1"></i>
                    </a>
                        <ul class="sub-menu-mob">
                            {% for sub in cat.subcategories.all %}
                                <a href="{% url 'video:category_detail' sub.slug %}">{{ sub.title }}</a>
                            {% endfor %}
                        </ul>
                    </li>

                {% endfor %}
            </nav>

        </div>


        <section
                class="nav-header-box-mob d-flex d-sm-flex d-md-none  align-items-center justify-content-between d-md-none d-lg-none position-fixed">

            <div class="hamburger-icon">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div class="logo">
                <a href="{% url 'home:home' %}"><img src="{% static 'image/logo.png' %}" class="logo-img img-fluid"
                                                     alt=""/></a>
            </div>

            {# Mobile Header #}
            {% if request.resolver_match.url_name == 'home' %}
                <div class="d-flex align-items-center">
                    <div class="dropdown notification-box">

                        <div class="position-relative d-block d-md-none " type="button" id="dropdownMenuButton"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{% static 'image/notification2.png' %}" class="notification-img" alt="">
                        </div>

                        {% if request.user.is_authenticated %}
                            <div class="badge">{{ request.user.notifications.all.count }}</div>
                            <div class="dropdown-menu notification-menu-items custom-bg"
                                 aria-labelledby="dropdownMenuButton">

                                {% for i in request.user.message.all|slice:":2" %}
                                    <a onclick="Del_Admin_Notif({{ i.id }})" class="border-bottom"
                                       href="{{ i.link }}">{{ i.message }}
                                        <div align="center" class="small">{{ i.get_date }}</div>
                                    </a>
                                {% endfor %}

                                {% for i in request.user.notifications.all|slice:":2" %}
                                    <a onclick="Del_Notif({{ i.id }})" class="border-bottom"
                                       href="{{ i.link }}">{{ i.message }}
                                        <div align="center" class="small">{{ i.get_date }}</div>
                                    </a>
                                {% endfor %}

                            </div>
                        {% endif %}

                    </div>

                    <div class="header-account">
                        <div class="notification-box dropdown">
                            <a href="" class="btn login-btn" type="button" id="dropdownMenuButton"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{% static 'image/User_Default.jpg' %}" alt="">
                            </a>
                            <div class="dropdown-menu account-menu-items custom-bg"
                                 aria-labelledby="dropdownMenuButton">

                                {% if request.user.is_authenticated %}
                                    <a class="" href="{% url 'account:user_panel' %}"> پروفایل</a>
                                    <a class="" href="{% url 'video:favorites' %}"> مورد علاقه ها</a>
                                    <hr>
                                    <a class="" href="{% url 'account:logout' %}"> خروج از حساب </a>
                                {% else %}
                                    <a class="" href="{% url 'account:sign_in' %}"> <i class=" fa fa-account"></i> ورود
                                    </a>
                                    <a class="" href="{% url 'account:sign_up' %}"> ثبت نام </a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="d-flex align-items-center">
                    <div class="dropdown notification-box">

                        <div class="position-relative d-block d-md-none " type="button" id="dropdownMenuButton"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{% static 'image/notification2.png' %}" class="notification-img" alt="">
                        </div>

                        {% if request.user.is_authenticated %}
                            <div class="badge">{{ request.user.notifications.all.count }}</div>
                            <div class="dropdown-menu notification-menu-items custom-bg"
                                 aria-labelledby="dropdownMenuButton">

                                {% for i in request.user.message.all|slice:":2" %}
                                    <a onclick="Del_Admin_Notif({{ i.id }})" class="border-bottom"
                                       href="{{ i.link }}">{{ i.message }}
                                        <div align="center" class="small">{{ i.get_date }}</div>
                                    </a>
                                {% endfor %}

                                {% for i in request.user.notifications.all|slice:":2" %}
                                    <a onclick="Del_Notif({{ i.id }})" class="border-bottom"
                                       href="{{ i.link }}">{{ i.message }}
                                        <div align="center" class="small">{{ i.get_date }}</div>
                                    </a>
                                {% endfor %}

                            </div>
                        {% endif %}

                    </div>

                    <div class="header-account d-block d-md-none mx-2">
                        <div class="notification-box dropdown">
                            <a href="" class="btn account-btn small border-0" type="button" id="dropdownMenuButton"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                     height=".75em" width=".75em" style="font-size: 1.6em; margin-inline-end: 0.2em;">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path
                                            d="M11 7L9.6 8.4l2.6 2.6H2v2h10.2l-2.6 2.6L11 17l5-5-5-5zm9 12h-8v2h8c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-8v2h8v14z">
                                    </path>
                                </svg>
                                ورود
                            </a>
                            <div class="dropdown-menu account-menu-items custom-bg"
                                 aria-labelledby="dropdownMenuButton">

                                <a class="" href="{% url 'home:home' %}">صفحه اصلی</a>

                                {% if request.user.is_authenticated %}
                                    <a class="" href="{% url 'account:user_panel' %}"> پروفایل </a>
                                    <a class="" href="{% url 'video:favorites' %}"> مورد علاقه ها </a>
                                    <hr>
                                    <a class="" href="{% url 'account:logout' %}"> خروج از حساب </a>
                                {% else %}
                                    <a class="" href="{% url 'account:sign_in' %}"> <i class=" fa fa-account"></i> ورود
                                    </a>
                                    <a class="" href="{% url 'account:sign_up' %}"> ثبت نام </a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </section>
    </div>

</header>