{% load static %}

<script>
    function set_value(id, fullname) {
        document.getElementById("parent_id").value = id;
        window.location.href = "#scroll";
        document.getElementById("get_fullname").placeholder = ` پاسخ به نظر ${fullname}`;

        {# for cansel comment after reply #}
        var div = document.getElementById("cansel_button");
        var button = document.createElement('BUTTON');
        var text = document.createTextNode(" لغو پاسخ ");
        button.className = "btn custom-btn"
        button.id = 'button';
        button.appendChild(text);

        if (!document.getElementById('button')) {
            div.appendChild(button);
        }
    }
</script>


<script>
    function CanselButton() {
        var button = document.getElementById('button');
        button.parentNode.removeChild(button);
        document.getElementById("parent_id").value = null;
        document.getElementById("get_fullname").placeholder = "دیدگاه خود را بنویسید";
    }
</script>


<script>
    function Del_Notif(id) {
        $.get(`DelNotif/${id}`)

    }
</script>

<script>
    function Del_Admin_Notif(id) {
        $.get(`DelAdmin/${id}`)

    }
</script>
<script>
    function choose_picture() {
        document.getElementById('image').click()
    }
</script>

<script type="text/javascript">
    function reveal() {
        if (document.getElementById('checkbox').checked) {
            document.getElementById("pass").type = 'text';
            document.getElementById("pass").dir = 'ltr';
        } else
            document.getElementById("pass").type = 'password';
    }
</script>

<script>
    function reveal() {
        if (document.getElementById('checkbox').checked) {
            document.getElementById("pass").type = 'text';
            {# change the type and direction #}
            document.getElementById("pass").dir = 'ltr';
            document.getElementById("confirm_pass").type = 'text';
            document.getElementById("confirm_pass").dir = 'ltr';
        } else {
            document.getElementById("pass").type = 'password';
            document.getElementById("confirm_pass").type = 'password';
        }
    }


    function Warning() {
        Swal.fire({
            position: 'top-end-right',
            icon: 'warning',
            title: "برای اضافه کردن این آموزش به علاقه مندی ها و لایک وارد حساب کاربری خود شوید",
            confirmButtonText: 'باشه',
            confirmButtonColor: '#112031',
        }).then(function () {
            location.href = "{% url 'account:sign_in' %}";
        })
    }

</script>


<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).on('submit', '#edit_profile_form', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "account:edit_profile" %}',
            data:
                {
                    email: $("#email").val(),
                    fullname: $("#fullname").val(),
                    image: $("#image").val(),
                    phone: $("#phone").val(),
                    bio: $("#bio").val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
            success: function (response) {
                if (response['response'] === 'changed') {
                    Swal.fire({
                        text: 'عملیات با موفقیت انجام شد',
                        icon: 'success',
                        confirmButtonText: 'باشه',
                        confirmButtonColor: '#112031',
                    }).then(function () {
                        location.href = "{% url 'account:user_panel' %}";
                    })
                } else {

                }
            }
        })
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> {# NEW #}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="{% static 'components/bootstrap/bootstrap.bundle.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="{% static 'components/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'jquery/jquery.min.js' %}"></script>  {# NEW #}
<script src="{% static 'js/ajax.js' %}"></script>  {# NEW #}
<script src="https://use.fontawesome.com/96472d4340.js"></script>