{% load static %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{# NEW #}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="{% static 'components/bootstrap/bootstrap.bundle.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>

<script src="{% static 'components/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/ajax.js' %}"></script>

<script>
    function set_value(id, fullname) {
        document.getElementById("parent_id").value = id;
        window.location.href = "#scroll";
        document.getElementById("get_fullname").placeholder = ` پاسخ به نظر ${fullname}`;

        {# for cansel comment after reply #}
        var div = document.getElementById("cansel_button");
        var button = document.createElement('BUTTON');
        var text = document.createTextNode(" لغو پاسخ ");
        button.className = "btn custom-btn"
        button.id = 'button';
        button.appendChild(text);

        if (!document.getElementById('button')) {
            div.appendChild(button);
        }
    }


    function CanselButton() {
        var button = document.getElementById('button');
        button.parentNode.removeChild(button);
        document.getElementById("parent_id").value = null;
        document.getElementById("get_fullname").placeholder = "دیدگاه خود را بنویسید";
    }

</script>

<script>
    function Del_Notif(id) {
        $.get(`DelNotif/${id}`)

    }

    function Del_Admin_Notif(id) {
        $.get(`DelAdmin/${id}`)

    }

    function choose_picture() {
        document.getElementById('image').click()
    }
</script>

<script type="text/javascript">
    function reveal() {
        if (document.getElementById('checkbox').checked) {
            document.getElementById("pass").type = 'text';
            document.getElementById("pass").dir = 'ltr';
        } else
            document.getElementById("pass").type = 'password';
    }
</script>


<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>

<script type="text/javascript">
    function reveal() {
        if (document.getElementById('checkbox').checked) {
            document.getElementById("pass").type = 'text';
            {# change the type and direction #}
            document.getElementById("pass").dir = 'ltr';
            document.getElementById("confirm_pass").type = 'text';
            document.getElementById("confirm_pass").dir = 'ltr';
        } else {
            document.getElementById("pass").type = 'password';
            document.getElementById("confirm_pass").type = 'password';
        }
    }

    function Warning() {
        Swal.fire({
            position: 'top-end-right',
            icon: 'warning',
            text: "برای اضافه کردن این آموزش به علاقه مندی ها وارد حساب کاربری خود شوید",
            confirmButtonText: 'باشه',
            confirmButtonColor: '#112031',
        }).then(function () {
            location.href = "{% url 'account:sign_in' %}";
        })
    }

    var formData = new FormData();
    $(document).on('submit', '#edit_profile_form', function (e) {
        formData.append('fullname', $('#fullname').val())
        formData.append('email', $('#email').val())
        formData.append('phone', $('#phone').val())
        formData.append('bio', $('#bio').val())
        formData.append('github', $('#github').val())
        formData.append('linkedin', $('#linkedin').val())
        formData.append('instagram', $('#instagram').val())
        formData.append('twitter', $('#twitter').val())
        formData.append('image', $('#image')[0].files[0])
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "account:edit_profile" %}',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            enctype: 'multipart/form-data',
            success: function (json) {
                if (json['response']) {
                    Swal.fire({
                        title: 'هشدار',
                        text: json['response'],
                        icon: 'error',
                        confirmButtonText: 'باشه',
                        confirmButtonColor: '#112031',
                    })

                } else {
                    Swal.fire({
                        title: 'عملیات با موفقیت انجام شد',
                        text: 'عملیات با موفقیت انجام شد',
                        icon: 'success',
                        confirmButtonText: 'باشه',
                        confirmButtonColor: '#112031',
                    }).then(function () {
                        location.href = "{% url 'account:user_panel' %}";
                    })
                }
            }
        })
    })
    $(document).on('submit', '#forget_pass_form', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url 'account:reset_password' %}',
            data: {
                email: $('#email').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (json) {
                if (json['response']) {
                    $('#forget_pass_error').html('<div class="alert alert-danger alert-dismissible fade show" role="alert">'
                        + json['response'] +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
                        + '<span aria-hidden="true">'
                        + '&times;' + '</span>'
                        + '</button>' + '</div>')
                } else {
                    Swal.fire({
                        title: 'عملیات با موفقیت انجام شد',
                        text: 'ایمیلی حاوی یک لینک جهت تغییر گذرواژه تان ارسال شد',
                        icon: 'success',
                        confirmButtonText: 'باشه',
                        confirmButtonColor: '#112031',
                    }).then(function () {
                        location.href = "{% url 'home:home' %}";
                    })
                }
            }
        })
    })


    var formData1 = new FormData();
    $(document).on('submit', '#be_teacher_form', function (e) {
        formData1.append('fullname', $('#fullname').val())
        formData1.append('email', $('#email').val())
        formData1.append('phone_number', $('#phone_number').val())
        formData1.append('skill', $('#skill').val())
        formData1.append('resume', $('#resume')[0].files[0])
        formData1.append('csrfmiddlewaretoken', '{{ csrf_token }}')
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "info:be_teacher" %}',
            data: formData1,
            cache: false,
            processData: false,
            contentType: false,
            enctype: 'multipart/form-data',
            success: function (json) {
                if (json['errors']) {
                    Swal.fire({
                        title: 'هشدار',
                        text: json['errors'],
                        icon: 'error',
                        confirmButtonText: 'باشه',
                        confirmButtonColor: '#112031',
                    })

                } else {
                    Swal.fire({
                        title: 'عملیات با موفقیت انجام شد',
                        text: 'اطلاعات شما با موفقیت ارسال گردید',
                        icon: 'success',
                        confirmButtonText: 'باشه',
                        confirmButtonColor: '#112031',
                    }).then(function () {
                        location.href = "{% url 'home:home' %}";
                    })
                }
            }
        })
    })


    $(document).on('submit', '#change-password-form', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url 'account:change_password' %}',
            data: {
                old_password: $('#old_password').val(),
                new_password1: $('#new_password1').val(),
                new_password2: $('#new_password2').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (json) {
                if (json['response']) {
                    $('#change-pass-error').html('<div class="alert alert-danger alert-dismissible fade show" role="alert">'
                        + json['response'] +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
                        + '<span aria-hidden="true">'
                        + '&times;' + '</span>'
                        + '</button>' + '</div>')
                } else {
                    Swal.fire({
                        title: 'عملیات با موفقیت انجام شد',
                        text: 'گذرواژه تان با موفقیت تغییر کرد',
                        icon: 'success',
                        confirmButtonText: 'باشه',
                        confirmButtonColor: '#112031',
                    }).then(function () {
                        location.href = "{% url 'account:user_panel' %}";
                    })
                }
            }
        })
    })

</script>