{% extends 'base3.html' %}
{% load static %}
{% load hitcount_tags %}

{% block title %} {% endblock %}

{% block content %}


    <main>

        <section class="py-5">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h2 class="title-section"> تمامی آموزش ها </h2>

                </div>

                <div class="row">
                    <!-- item -->
                    {% for video in video_list %}
                        <div class="col-md-6 col-lg-4 my-2">
                            <div class="custom-bg">
                                <div class="video-card">
                                    <a href="{{ video.get_absolute_url }}" class="position-relative d-block ">
                                        <img src="{{ video.video_cover.url }}" alt="" class="img-fluid w-100 h-100">
                                        <div class="video-play-btn">
                                            <i class="fa fa-play"></i>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between video-category-time">
                                            <h6 class="">{{ video.category.first }}</h6>
                                            <span class="vid-time">{{ video.time }}</span>
                                        </div>
                                        <div class="video-card-details">
                                            <div>
                                                <span>{% get_hit_count for video %}</span>
                                                <i class="fa fa-eye"></i>
                                            </div>
                                            <div>
                                                <span>{{ video.likes.all.count }}</span>
                                                <i class="fa fa-heart"></i>
                                            </div>
                                            <div>
                                                <span>{{ video.comments.all.count }}</span>
                                                <i class="fa fa-comment"></i>
                                            </div>
                                        </div>
                                        <div class="article-overlay"></div>
                                    </a>

                                </div>

                                <a href="{{ video.get_absolute_url }}">
                                    <h5 class="video-card-title m-2">{{ video.title }}</h5>
                                </a>

                                <div class=" my-3 pb-3 mx-2 video-card-intro">
                                    <div class="">
                                        <i class="fa fa-user ml-1 "></i>
                                        <span>{{ video.publisher.fullname }}</span>
                                    </div>
                                    <div align="left">
                                        <span class="font14 text-success">
                                            رایگان
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <!-- end item -->
                    <!-- item -->
                    <div class="col-md-6 col-lg-4 my-2">
                        <div class="custom-bg">
                            <div class="video-card">
                                <a href="video-detail.html" class="position-relative d-block ">
                                    <img src="assets/image/codeyadtv.jpg" alt="" class="img-fluid w-100 h-100">
                                    <div class="video-play-btn">
                                        <i class="fa fa-play"></i>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between video-category-time">
                                        <h6 class="">موفقیت</h6>
                                        <span class="vid-time">5:25</span>
                                    </div>
                                    <div class="video-card-details">
                                        <div>
                                            <span>22</span>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                        <div>
                                            <span>22</span>
                                            <i class="fa fa-heart"></i>
                                        </div>
                                        <div>
                                            <span>22</span>
                                            <i class="fa fa-comment"></i>
                                        </div>
                                    </div>
                                    <div class="article-overlay"></div>
                                </a>

                            </div>
                            <a href="video-detail.html">
                                <h5 class="video-card-title m-2"> تازه ترین ویدیو ها تازه ترین ویدیو ها تازه ترین ویدیو
                                    ها تازه ترین ویدیو هاتازه
                                    ترین ویدیو هاتازه ترین ویدیو هاتازه ترین ویدیو ها</h5>
                            </a>
                            <div class=" my-3 pb-3 mx-2 video-card-intro">
                                <div class="">
                                    <i class="fa fa-user  ml-1 "></i>
                                    <span>امیرحسین امیری</span>
                                </div>
                                <div>
                                <span class="font14">
                                    15000 تومان
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end item -->
                    <!-- item -->
                    <div class="col-md-6 col-lg-4 my-2">
                        <div class="custom-bg">
                            <div class="video-card">
                                <a href="video-detail.html" class="position-relative d-block ">
                                    <img src="assets/image/p3.png" alt="" class="img-fluid w-100 h-100">
                                    <div class="video-play-btn">
                                        <i class="fa fa-play"></i>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between video-category-time">
                                        <h6 class="">موفقیت</h6>
                                        <span class="vid-time">5:25</span>
                                        <span class="discount">10%</span>
                                    </div>
                                    <div class="video-card-details">
                                        <div>
                                            <span>22</span>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                        <div>
                                            <span>22</span>
                                            <i class="fa fa-heart"></i>
                                        </div>
                                        <div>
                                            <span>22</span>
                                            <i class="fa fa-comment"></i>
                                        </div>
                                    </div>
                                    <div class="article-overlay"></div>
                                </a>

                            </div>
                            <a href="video-detail.html">
                                <h5 class="video-card-title m-2"> تازه ترین ویدیو ها تازه ترین ویدیو ها تازه ترین ویدیو
                                    ها تازه ترین ویدیو هاتازه
                                    ترین ویدیو هاتازه ترین ویدیو هاتازه ترین ویدیو ها</h5>
                            </a>
                            <div class=" my-3 pb-3 mx-2 video-card-intro">
                                <div class="">
                                    <i class="fa fa-user  ml-1 "></i>
                                    <span>امیرحسین امیری</span>
                                </div>
                                <div class="d-flex flex-column">
                                    <s class="font14">
                                        10000 تومان
                                    </s>
                                    <span class="font14 text-danger">
                                    5000 تومان
                                </span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end item -->

                </div>

                {% if page_obj.has_other_pages %}

                    <div class="d-flex align-items-center justify-content-center mb-3 pagination">

                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}" class="mx-1"><i
                                    class="fa fa-chevron-right"></i></a>
                        {% endif %}


                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <a href="?page={{ i }}" class="active mx-1">{{ i }}</a>
                            {% else %}
                                <a href="?page={{ i }}" class="mx-1">{{ i }}</a>
                            {% endif %}
                        {% endfor %}


                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="mx-1"><i
                                    class="fa fa-chevron-left"></i></a>
                        {% endif %}

                    </div>

                {% endif %}

            </div>
        </section>

    </main>



{% endblock %}