{% extends 'base.html' %}
{% load static %}

{% block title %}
    فعالسازی حساب کاربری

{% endblock %}

{% block content %}
    <main>
        <section class="py-5 mb-5 mt-5">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <alert class="alert alert-primary">
                        <h2 class="title-section">ایمیل فعالسازی برای شما ارسال شد. جهت فعالسازی و ورود به حساب کاربری خود روی لینک ارسال شده کلیک نمائید</h2>
                    </alert>
                </div>
            </div>
        </section>
    </main>
{% endblock %}