{% extends 'base.html' %}
{% load static %}

{% block title %}
    ویرایش اطلاعات
{% endblock %}

{% block content %}
    <main>

        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">

                    <div class="col-sm-9 col-md-11 col-lg-10">

                        <div class="user-panel custom-bg">

                            <form method="post" id="edit_profile_form">
                                {% csrf_token %}
                                <div class="user-panel-box">
                                    <div class="user-panel-profile">

                                        {% if request.user.image %}
                                            <img src="{{ request.user.image.url }}" alt="">
                                        {% else %}
                                            <img src="{% static 'image/User_Default.jpg' %}"
                                                 alt="">
                                        {% endif %}

                                    </div>

                                    <div class="change-profile-btn">
                                        <a onclick="choose_picture()" class="btn custom-btn"> تغییر عکس پروفایل </a>
                                        <button hidden>{{ form.image }}</button>
                                    </div>


{#                                    <div class="change-password-btn">#}
                                    {#                                        <a class="btn custom-btn" href="{% url 'account:change_password' %}"> تغییر#}
                                    {#                                            گذرواژه </a>#}
                                    {#                                    </div>#}


                                    <!-- item -->
                                    <div class="user-panel-field">
                                        <i class="fa fa-user-circle"></i>
                                        {{ form.fullname }}
                                    </div>
                                    <!-- item -->
                                    <div class="user-panel-field">
                                        <i class="fa fa-envelope"></i>
                                        {{ form.email }}
                                    </div>
                                    <!-- item -->
                                    <div class="user-panel-field">
                                        <i class="fa fa-phone"></i>
                                        {{ form.phone }}
                                    </div>

                                    <div class="user-panel-field">
                                        <i class="fa fa-github"></i>
                                        {{ form.github }}
                                    </div>

                                    <div class="user-panel-field">
                                        <i class="fa fa-linkedin"></i>
                                        {{ form.linkedin }}
                                    </div>

                                    <div class="user-panel-field">
                                        <i class="fa fa-instagram"></i>
                                        {{ form.instagram }}
                                    </div>

                                    <div class="user-panel-field">
                                        <i class="fa fa-twitter"></i>
                                        {{ form.twitter }}
                                    </div>

                                    <!-- item -->
                                    <div hidden class="user-panel-field">
                                        <i class="fa fa-phone"></i>
                                    </div>

                                    {{ form.bio }}

                                </div>

                                <div class="d-flex justify-content-center mt-3 ">
                                    <button type="submit" class="btn custom-btn w-50">اعمال تغییرات</button>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>
{% endblock %}
