{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'components/bootstrap/bootstrap-rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'components/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}"
          referrerpolicy="no-referrer"/>

    <title> {% block title %} {% endblock %} </title>
</head>

<body>

<!-- top-header -->
<div class="shadow position-fixed w-100 h-100 d-md-none d-lg-none"></div>
<!-- top-header -->

<header class="position-relative">
    <div class="main-header position-relative">

        <div class="nav-header-box mob1 d-md-flex d-lg-flex align-items-center justify-content-between">

            <div class="d-flex flex-column flex-md-row align-items-center pr-md-4">
                <div class="logo d-flex justify-content-center align-items-center ml-3">
                    <a href=""><img style="height: 100px;width: 100px"
                                    src="{% static 'image/tiphub-logo.png' %}" class="logo-img img-fluid"
                                    alt=""/></a>
                </div>


                <div class="nav-search-btn">
                    <form action="{% url 'video:search' %}">

                        <input name="q" type="search" placeholder="جستجو" value="{{ request.GET.q }}" required>

                        <button type="submit"><i class="fa fa-search"></i></button>

                    </form>
                </div>

            </div>
            <div class="d-block d-md-flex align-items-center pl-md-4">
                <div class="dropdown notification-box">

                    <div class="position-relative d-none d-md-block " type="button" id="dropdownMenuButton"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'image/notification2.png' %}" class="notification-img" alt="">
                    </div>

                    {% if request.user.is_authenticated %}
                        <div class="badge">{{ request.user.notifications.all.count }}</div>
                        <div class="dropdown-menu notification-menu-items custom-bg"
                             aria-labelledby="dropdownMenuButton">

                            {% for i in request.user.message.all|slice:":2" %}
                                <a onclick="Del_Admin_Notif({{ i.id }})" class="border-bottom"
                                   href="{{ i.link }}">{{ i.message }}
                                    <div align="center" class="small">{{ i.get_date }}</div>
                                </a>
                            {% endfor %}

                            {% for i in request.user.notifications.all|slice:":2" %}
                                <a onclick="Del_Notif({{ i.id }})" class="border-bottom"
                                   href="{{ i.link }}">{{ i.message }}
                                    <div align="center" class="small">{{ i.get_date }}</div>
                                </a>
                            {% endfor %}

                        </div>

                    {% endif %}

                </div>

                <div class="header-login d-none d-md-block">
                    <div class="notification-box dropdown">
                        <a href="" class="btn login-btn" type="button" id="dropdownMenuButton"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{% static 'image/User_Default.jpg' %}" alt="">
                        </a>
                        <div class="dropdown-menu account-menu-items custom-bg"
                             aria-labelledby="dropdownMenuButton">

                            {% if request.user.is_authenticated %}
                                <a class="" href="{% url 'account:user_panel' %}"> پروفایل</a>
                                <a class="" href="{% url 'video:favorites' %}">علاقه مندی ها</a>
                                <hr>
                                <a class="" href="{% url 'account:logout' %}">خروج از حساب</a>
                            {% else %}
                                <a class="" href="{% url 'account:sign_in' %}"> <i class=" fa fa-account"></i> ورود
                                </a>
                                <a class="" href="{% url 'account:sign_up' %}"> ثبت نام</a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

            <nav class="nav-menu p-0 m-0 d-flex d-sm-flex d-md-none d-lg-none">
                {% for cat in categories.all %}

                    <li id="" class="mx-3"><a class="nav-menu-item-mob">{{ cat.title }}
                        <i class="fa fa-chevron-left chev-icon pr-1"></i>
                    </a>
                        <ul class="sub-menu-mob">
                            {% for sub in cat.subcategories.all %}
                                <a href="{% url 'video:category_detail' sub.slug %}">{{ sub.title }}</a>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </nav>

        </div>


        <section
                class="nav-header-box-mob d-flex d-sm-flex d-md-none  align-items-center justify-content-between d-md-none d-lg-none position-fixed">

            <div class="hamburger-icon">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div class="logo">
                <a href="index.html"><img style="width: 90px;height: 50px;" src="{% static 'image/tiphub-logo.png' %}"
                                          class="logo-img img-fluid" alt=""/></a>
            </div>

            <div class="d-flex align-items-center">
                <div class="dropdown notification-box">

                    <div class="position-relative d-block d-md-none " type="button" id="dropdownMenuButton"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'image/notification2.png' %}" class="notification-img" alt="">
                    </div>
                    {% if request.user.is_authenticated %}
                        <div class="badge">{{ request.user.notifications.all.count }}</div>
                        <div class="dropdown-menu notification-menu-items custom-bg"
                             aria-labelledby="dropdownMenuButton">

                            {% for i in request.user.message.all|slice:":2" %}
                                <a onclick="Del_Admin_Notif({{ i.id }})" class="border-bottom"
                                   href="{{ i.link }}">{{ i.message }}
                                    <div align="center" class="small">{{ i.get_date }}</div>
                                </a>
                            {% endfor %}

                            {% for i in request.user.notifications.all|slice:":2" %}
                                <a onclick="Del_Notif({{ i.id }})" class="border-bottom"
                                   href="{{ i.link }}">{{ i.message }}
                                    <div align="center" class="small">{{ i.get_date }}</div>
                                </a>
                            {% endfor %}

                        </div>
                    {% endif %}

                </div>

                <div class="header-account">
                    <div class="notification-box dropdown">
                        <a href="" class="btn login-btn" type="button" id="dropdownMenuButton"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{% static 'image/User_Default.jpg' %}" alt="">
                        </a>
                        <div class="dropdown-menu account-menu-items custom-bg"
                             aria-labelledby="dropdownMenuButton">

                            {% if request.user.is_authenticated %}
                                <a class="" href="{% url 'account:user_panel' %}"> پروفایل</a>
                                <a class="" href="{% url 'video:favorites' %}"> مورد علاقه ها</a>
                                <hr>
                                <a class="" href="{% url 'account:logout' %}"> خروج از حساب </a>
                            {% else %}
                                <a class="" href="{% url 'account:sign_in' %}"> <i class=" fa fa-account"></i> ورود
                                </a>
                                <a class="" href="{% url 'account:sign_up' %}"> ثبت نام </a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>

</header>

<nav class="nav-menu nav-menu-pc  d-none d-md-flex px-4" id="navbar">
    {% for cat in categories.all %}
        <li id="" class="mx-3 menu-item"><a href="" class="nav-menu-item ">{{ cat.title }}</a>

            <ul class="sub-menu">
                {% for sub in cat.subcategories.all %}
                    <a href="{% url 'video:category_detail' sub.slug %}">{{ sub.title }}</a>
                {% endfor %}
            </ul>

        </li>
    {% endfor %}

</nav>



{% block content %}

{% endblock %}


<!-- footer -->
<footer>
    <div class="container-fluid py-5">

        <section class="row d-flex align-items-baseline footer-items">
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <ul>
                    <h6 class="mb-3 text-white"><span class="border-bottom">تیپ هاب </span></h6>
                    <li>
                        <a href="">
                            <p> ارتباط با ما</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p> درباره ما</p>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'info:why_tiphub' %}">
                            <p> چرا تیپ هاب</p>
                        </a>
                    </li>


                </ul>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <ul>
                    <h6 class="mb-3 text-white"><span class="border-bottom">خدمات تیپ هاب</span></h6>
                    <li>
                        <a href="">
                            <p> نکات پایتونی</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p> نکات جاوااسکریپتی</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p> نکات فلاتری</p>
                        </a>
                    </li>


                </ul>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <ul>
                    <h6 class="mb-3 text-white"><span class="border-bottom"> همکاری با ما </span></h6>
                    <li>
                        <a href="">
                            <p> شرایط همکاری</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p> قوانین و مقررات</p>
                        </a>
                    </li>


                </ul>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <ul>
                    <h6 class="mb-3 text-white"><span class="border-bottom">خدمات مشترکین</span></h6>
                    <li>
                        <a href="" class="">
                            <img src="assets/image/f1.svg" alt="">
                            اهواز، خیابان نادری، خیابان امیری، کوچه مهرگان، پلاک ۱۴، کد پستی 6381838168
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <img src="assets/image/f2.svg" alt="">
                            پشتیبانی: 09910549803
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <img src="assets/image/f3.svg" alt="">
                            30009010
                        </a>
                    </li>
                    <li>
                        <a href="" class="">
                            <img src="assets/image/f4.svg" alt="">
                            amirhamiri74@gmial.com
                        </a>
                    </li>

                    <button class="footer-btn my-3">ارسال پیام</button>

                    <div class="social-media d-flex align-items-center flex-wrap ">
                        <a href=""> <i class="fa fa-instagram"></i></a>
                        <a href=""> <i class="fa fa-telegram"></i></a>
                        <a href=""> <i class="fa fa-whatsapp"></i></a>
                        <a href=""> <i class="fa fa-twitter"></i></a>
                    </div>

                </ul>
            </div>
        </section>

    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{# NEW #}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="{% static 'components/bootstrap/bootstrap.bundle.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>

<script src="{% static 'components/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/ajax.js' %}"></script>

<script>
    function set_value(id, fullname) {
        document.getElementById("parent_id").value = id;
        window.location.href = "#scroll";
        document.getElementById("get_fullname").placeholder = ` پاسخ به نظر ${fullname}`;

        {# for cansel comment after reply #}
        var div = document.getElementById("cansel_button");
        var button = document.createElement('BUTTON');
        var text = document.createTextNode(" لغو پاسخ ");
        button.className = "btn custom-btn"
        button.id = 'button';
        button.appendChild(text);

        if (!document.getElementById('button')) {
            div.appendChild(button);
        }
    }


    function CanselButton() {
        var button = document.getElementById('button');
        button.parentNode.removeChild(button);
        document.getElementById("parent_id").value = null;
        document.getElementById("get_fullname").placeholder = "دیدگاه خود را بنویسید";
    }

</script>

<script>
    function Del_Notif(id) {
        $.get(`DelNotif/${id}`)

    }

    function Del_Admin_Notif(id) {
        $.get(`DelAdmin/${id}`)

    }

    function choose_picture() {
        document.getElementById('image').click()
    }
</script>

<script type="text/javascript">
    function reveal() {
        if (document.getElementById('checkbox').checked) {
            document.getElementById("pass").type = 'text';
            document.getElementById("pass").dir = 'ltr';
        } else
            document.getElementById("pass").type = 'password';
    }
</script>


<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>

<script type="text/javascript">
    function reveal() {
        if (document.getElementById('checkbox').checked) {
            document.getElementById("pass").type = 'text';
            {# change the type and direction #}
            document.getElementById("pass").dir = 'ltr';
            document.getElementById("confirm_pass").type = 'text';
            document.getElementById("confirm_pass").dir = 'ltr';
        } else {
            document.getElementById("pass").type = 'password';
            document.getElementById("confirm_pass").type = 'password';
        }
    }
    function Warning() {
        Swal.fire({
            position: 'top-end-right',
            icon: 'warning',
            title: "برای اضافه کردن این آموزش به علاقه مندی ها وارد حساب کاربری خود شوید",
            confirmButtonText: 'باشه',
            confirmButtonColor: '#112031',
        }).then(function () {
            location.href = "{% url 'account:sign_in' %}";
        })
    }
    $(document).on('submit', '#edit_profile_form', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "account:edit_profile" %}',
            data:
                {
                    email: $("#email").val(),
                    fullname: $("#fullname").val(),
                    image: $("#image").val(),
                    phone: $("#phone").val(),
                    bio: $("#bio").val(),
                    github: $("#github").val(),
                    linkedin: $("#linkedin").val(),
                    instagram: $("#instagram").val(),
                    twitter: $("#twitter").val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
            success: function (json) {
                if (json['response']) {
                    Swal.fire({
                        title: 'هشدار',
                        text: json['response'],
                        icon: 'error',
                        confirmButtonText: 'باشه',
                        confirmButtonColor: '#112031',
                    })

                } else {
                    Swal.fire({
                        title: 'عملیات با موفقیت انجام شد',
                        text: 'عملیات با موفقیت انجام شد',
                        icon: 'success',
                        confirmButtonText: 'باشه',
                        confirmButtonColor: '#112031',
                    }).then(function () {
                        location.href = "{% url 'account:user_panel' %}";
                    })
                }
            }
        })
    })
    $(document).on('submit', '#forget_pass_form', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url 'account:reset_password' %}',
            data: {
                email: $('#email').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (json) {
                if (json['response']) {
                    $('#forget_pass_error').html('<div class="alert alert-danger alert-dismissible fade show" role="alert">'
                        + json['response'] +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
                        + '<span aria-hidden="true">'
                        + '&times;' + '</span>'
                        + '</button>' + '</div>')
                } else {
                    Swal.fire({
                        title: 'عملیات با موفقیت انجام شد',
                        text: 'ایمیلی حاوی یک لینک جهت تغییر گذرواژه تان ارسال شد',
                        icon: 'success',
                        confirmButtonText: 'باشه',
                        confirmButtonColor: '#112031',
                    }).then(function () {
                        location.href = "{% url 'home:home' %}";
                    })
                }
            }
        })
    })

</script>


</body>

</html>