{% extends 'base.html' %}
{% load static %}

{% block title %}
    اعلانات
{% endblock %}


{% block content %}

    <main>

        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">

                    <div class="col-sm-9 col-md-11 col-lg-10">

                        <div class="notification-box custom-bg mw-100">

                            {% if not request.user.notifications.all %}

                                <h4>{{ request.user.notifications.all.count }} اعلان جدید </h4>
                                <hr>

                                <div class="alert">
                                    <div align="center" class="d-block p-2 bg-primary text-white"> موردی برای نمایش وجود ندارد !
                                    </div>
                                </div>

                            {% else %}

                                <div class="alert">
                                    <h4>{{ request.user.notifications.all.count }} اعلان جدید </h4>
                                    <hr>
                                    {% for i in request.user.notifications.all %}

                                        <div class="alert alert-info mt-2 text-center">
                                            <div align="right" class="notification-menu-items">
                                                <a class="border-bottom" href="{{ i.link }}">{{ i.message }}
                                                    <p align="left">{{ i.get_jalali_date }}</p>
                                                </a>
                                            </div>
                                        </div>

                                    {% endfor %}

                                    {% if request.user.notifications.all %}
                                        <div align="left">
                                            <button onclick="" class="btn btn-danger"> حذف همه </button>
                                        </div>
                                    {% endif %}

                                </div>

                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </section>


    </main>

{% endblock %}



