{% extends 'base.html' %}
{% load static %}


{% block title %}
    سبد خرید
{% endblock %}



{% block content %}
    <main>
        <div class="container">
            <a href="" class="custom-btn d-inline-flex my-3 p-3 text-white">لیست
                تراکنش های قبلی</a>
            <p class="my-3">سفارش شما</p>

            {% for item in cart %}
                <div class="custom-bg d-flex align-items-center justify-content-between px-4 py-3 my-3 buy-item">
                    <div class="d-flex align-items-center">
                        <p>{{ item.video.title }}</p>
                        <p class="mx-2 font14 color6464 dana-regular">{{ item.video.publisher.fullname }}</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="mx-2 font14 color6464 dana-regular">{{ item.price }} تومان</p>
                        <a href="{% url 'payment:cart-del' item.id %}" class="bg-danger text-white px-3 py-1 rounded">حذف</a>
                    </div>
                </div>
            {% endfor %}


            <div class="row">
                <div class="col-12">
                    <div class="custom-bg my-3 p-3">
                        <div class="pb-2 border-bottom">
                            <div>
                                <span>تخفیف:</span>
                                <span class="dana-regular">0تومان</span>
                            </div>
                            {% if cart.total %}
                                <div>
                                    <span>مبلغ کل به ریال :</span>
                                    <span class="dana-regular">{{ cart.total }} ریال</span>
                                </div>
                            {% endif %}
                        </div>


                        <div class="d-flex align-items-center justify-content-center">
                            <a href="{% url 'payment:order-creation' %}" class="w-100 btn custom-btn">پرداخت</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </main>
{% endblock %}