{% extends 'base.html' %}
{% load static %}


{% block title %}
    تکمیل سفارش و پرداخت
{% endblock %}



{% block content %}
    <main>
        <div class="container">


            <p class="my-3">سفارش شما</p>


            {% for item in order.items.all %}
                <div class="custom-bg d-flex align-items-center justify-content-between px-4 py-3 my-3 buy-item">
                    <div class="d-flex align-items-center">
                        <p>{{ item.video.title }}</p>
                        <p class="mx-2 font14 color6464 dana-regular"> مدرس : {{ item.video.publisher.fullname }}</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="mx-2 font14 color6464 dana-regular">{{ item.price }} تومان</p>
                    </div>
                </div>
            {% endfor %}


            <div class="row">
                <div class="col-12">
                    {% if order.total_price %}
                        <form action="{% url 'payment:send-request' order.id %}" method="post">
                            {% csrf_token %}
                            <div class="custom-bg my-3 p-3">
                                <div class="pb-2 border-bottom">
                                    <div>
                                        <span>تخفیف:</span>
                                        <span class="dana-regular">0 تومان</span>
                                    </div>
                                    {% if order.total_price %}
                                        <div>
                                            <span>مبلغ کل به ریال :</span>
                                            <span class="dana-regular">{{ order.total_price }} ریال</span>
                                        </div>
                                    {% endif %}
                                </div>


                                <div class="d-flex align-items-center justify-content-center">
                                    <button type="submit" class="w-100 btn custom-btn">پرداخت</button>
                                </div>


                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>

    </main>
{% endblock %}