{% extends 'base.html' %}
{% load static %}



{% block title %}
{% endblock %}


{% block content %}


    <main>

        <section class="py-5 container">
            <div class="text-center">
                <h3 class="font-weight-bold mb-4">دوره های خریداری شده</h3>
            </div>
            <div class="row d-flex justify-content-center justify-content-lg-start">

                <div class="col-md-10 col-lg-6 my-1">
                    <!-- card -->
                    <div class="container-fluid mb-4 custom-bg p-2">
                        <div class=" d-flex align-items-center justify-content-between">
                            <div class=" w-25 h-100">
                                <img src="assets/image/m10.webp" class="img-fluid rounded" alt="">
                            </div>
                            <div class="w-50">
                                <a href="course.html" class="teacher-course-item">آموزش جامع Node.js به همراه پروژه
                                    عملی</a>
                                <p class="color78">۳۵۰۰۰۰ تومان</p>
                            </div>
                            <div class="">
                                <a href="course.html" class="btn custom-btn "> نمایش</a>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <div class="col-md-10 col-lg-6 my-1">
                    <!-- card -->
                    <div class="container-fluid mb-4 custom-bg p-2">
                        <div class=" d-flex align-items-center justify-content-between">
                            <div class=" w-25 h-100">
                                <img src="assets/image/m10.webp" class="img-fluid rounded" alt="">
                            </div>
                            <div class="w-50">
                                <a href="course.html" class="teacher-course-item">آموزش جامع Node.js به همراه پروژه
                                    عملی</a>
                                <p class="color78">۳۵۰۰۰۰ تومان</p>
                            </div>
                            <div class="">
                                <a href="course.html" class="btn custom-btn "> نمایش</a>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <div class="col-md-10 col-lg-6 my-1">
                    <!-- card -->
                    <div class="container-fluid mb-4 custom-bg p-2">
                        <div class=" d-flex align-items-center justify-content-between">
                            <div class=" w-25 h-100">
                                <img src="assets/image/m10.webp" class="img-fluid rounded" alt="">
                            </div>
                            <div class="w-50">
                                <a href="course.html" class="teacher-course-item">آموزش جامع Node.js به همراه پروژه
                                    عملی</a>
                                <p class="color78">۳۵۰۰۰۰ تومان</p>
                            </div>
                            <div class="">
                                <a href="course.html" class="btn custom-btn "> نمایش</a>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <div class="col-md-10 col-lg-6 my-1">
                    <!-- card -->
                    <div class="container-fluid mb-4 custom-bg p-2">
                        <div class=" d-flex align-items-center justify-content-between">
                            <div class=" w-25 h-100">
                                <img src="assets/image/m10.webp" class="img-fluid rounded" alt="">
                            </div>
                            <div class="w-50">
                                <a href="course.html" class="teacher-course-item">آموزش جامع Node.js به همراه پروژه
                                    عملی</a>
                                <p class="color78">۳۵۰۰۰۰ تومان</p>
                            </div>
                            <div class="">
                                <a href="course.html" class="btn custom-btn "> نمایش</a>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <div class="col-md-10 col-lg-6 my-1">
                    <!-- card -->
                    <div class="container-fluid mb-4 custom-bg p-2">
                        <div class=" d-flex align-items-center justify-content-between">
                            <div class=" w-25 h-100">
                                <img src="assets/image/m10.webp" class="img-fluid rounded" alt="">
                            </div>
                            <div class="w-50">
                                <a href="course.html" class="teacher-course-item">آموزش جامع Node.js به همراه پروژه
                                    عملی</a>
                                <p class="color78">۳۵۰۰۰۰ تومان</p>
                            </div>
                            <div class="">
                                <a href="course.html" class="btn custom-btn "> نمایش</a>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <div class="col-md-10 col-lg-6 my-1">
                    <!-- card -->
                    <div class="container-fluid mb-4 custom-bg p-2">
                        <div class=" d-flex align-items-center justify-content-between">
                            <div class=" w-25 h-100">
                                <img src="assets/image/m10.webp" class="img-fluid rounded" alt="">
                            </div>
                            <div class="w-50">
                                <a href="course.html" class="teacher-course-item">آموزش جامع Node.js به همراه پروژه
                                    عملی</a>
                                <p class="color78">۳۵۰۰۰۰ تومان</p>
                            </div>
                            <div class="">
                                <a href="course.html" class="btn custom-btn "> نمایش</a>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <div class="col-md-10 col-lg-6 my-1">
                    <!-- card -->
                    <div class="container-fluid mb-4 custom-bg p-2">
                        <div class=" d-flex align-items-center justify-content-between">
                            <div class=" w-25 h-100">
                                <img src="assets/image/m10.webp" class="img-fluid rounded" alt="">
                            </div>
                            <div class="w-50">
                                <a href="course.html" class="teacher-course-item">آموزش جامع Node.js به همراه پروژه
                                    عملی</a>
                                <p class="color78">۳۵۰۰۰۰ تومان</p>
                            </div>
                            <div class="">
                                <a href="course.html" class="btn custom-btn "> نمایش</a>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center mb-3 pagination">
                <a href="" class="mx-1"><i class="fa fa-chevron-right"></i></a>
                <a href="" class="active mx-1">۱</a>
                <a href="" class="mx-1">۲</a>
                <a href="" class="mx-1">۳</a>
                <a href="" class="mx-1">۴</a>
                <a href="" class="mx-1">۲۰</a>
                <a href="" class="mx-1"><i class="fa fa-chevron-left"></i></a>
            </div>
        </section>

    </main>





{% endblock %}


<script>
    // video-player
    const videobtn = document.querySelector('.video-btn');
    const video = document.querySelector('.video');
    const videotag = document.querySelector('video')
    const videoDescription = document.querySelector('.video-description')
    const closeBtn = document.querySelector('.close-btn')
    const videoPoster = document.querySelector('.video-poster')
    const videoOverlay = document.querySelector('.video-overlay')

    function stopPlayer() {
        videobtn.style.display = "block";
        closeBtn.style.display = 'none';
        videoPoster.style.display = 'inline'
        video.style.zIndex = '-1'
        videotag.pause()
        videotag.style.borderRadius = '20px'
        videoDescription.style.display = 'flex'
        videotag.controls = false
        videotag.style.borderRadius = '15px'
        videoOverlay.style.display = 'block'
    };

    function playvideo() {
        videobtn.style.display = "none";
        video.style.zIndex = '22222'
        videotag.autoplay = true
        videotag.play()
        videotag.style.borderRadius = '20px'
        videotag.controls = true
        videoDescription.style.display = 'none'
        closeBtn.style.display = 'block'
        videoPoster.style.display = 'none'
        videoOverlay.style.display = 'none'
    }
</script>